<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category Menu</key>
	<dict>
		<key>0</key>
		<string>SPORTS</string>
		<key>1</key>
		<string>ENTERTAINMENT</string>
		<key>2</key>
		<string>SERVICE</string>
	</dict>
	<key>Category Sub Menu</key>
	<dict>
		<key>SPORTS</key>
		<dict>
			<key>Basket Ball</key>
			<dict>
				<key>name1</key>
				<string>NBA</string>
				<key>image1</key>
				<string>clubname.png</string>
			</dict>
			<key>Rugby</key>
			<dict/>
			<key>Cricket</key>
			<dict>
				<key>name1</key>
				<string>Yourkshire</string>
				<key>image1</key>
				<string>cherryl.png</string>
			</dict>
			<key>Football</key>
			<dict>
				<key>icon3</key>
				<string>Keith-Gillespie.png</string>
				<key>player</key>
				<dict>
					<key>playername2</key>
					<string>Paul Walsh</string>
					<key>club2</key>
					<string>Arsenal FC</string>
					<key>logo2</key>
					<string>paul-walsh.png</string>
					<key>playername1</key>
					<string>Rob Lee</string>
					<key>club1</key>
					<string>Liverpool FC</string>
					<key>logo1</key>
					<string>rob-lee.png</string>
				</dict>
				<key>banner2</key>
				<string>rugby.jpg</string>
				<key>banner1</key>
				<string>slideshow.jpg</string>
				<key>image3</key>
				<string>mancity_logo.png</string>
				<key>image2</key>
				<string>lfc-logo.png</string>
				<key>image1</key>
				<string>arsenal-logo.png</string>
				<key>name1</key>
				<string>Arsenal FC</string>
				<key>name2</key>
				<string>Liverpool FC</string>
				<key>name3</key>
				<string>Manchester City FC</string>
			</dict>
		</dict>
		<key>ENTERTAINMENT</key>
		<dict>
			<key>Music</key>
			<dict>
				<key>image2</key>
				<string>beatles.png</string>
				<key>name1</key>
				<string>Beatles</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
