<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category Menu</key>
	<dict>
		<key>0</key>
		<string>SPORTS</string>
		<key>1</key>
		<string>ENTERTAINMENT</string>
		<key>2</key>
		<string>SERVICE</string>
	</dict>
	<key>Category Sub Menu</key>
	<dict>
		<key>SPORTS</key>
		<dict>
			<key>Basket Ball</key>
			<dict>
				<key>name1</key>
				<string>NBA</string>
				<key>image1</key>
				<string>clubname.png</string>
			</dict>
			<key>Rugby</key>
			<dict/>
			<key>Cricket</key>
			<dict>
				<key>name1</key>
				<string>Yourkshire</string>
				<key>image1</key>
				<string>cherryl.png</string>
			</dict>
			<key>Football</key>
			<dict>
				<key>image2</key>
				<string>cherryl.png</string>
				<key>image1</key>
				<string>cherryl.png</string>
				<key>name1</key>
				<string>Arsenal</string>
				<key>name2</key>
				<string>Liverpool</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
