<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Football</string>
	<key>2</key>
	<string>Cricket</string>
	<key>3</key>
	<string>Rugby</string>
	<key>4</key>
	<string>Formula1</string>
</dict>
</plist>
